@import "tailwindcss";

body,
html {
  width: 100%;
  min-height: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}